/* Estilos para el footer */
.footer {
  position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    z-index: 999; /* Asegura que esté por encima del contenido */
  }
