
<form [formGroup]="registroForm">
<div id="login-box">
  <div class="left">
    <h1>INSCRIBETE</h1>
    
    <input type="text" name="name" placeholder="Nombres" formControlName="nombre" required/>
    <input type="text" name="apellidos" placeholder="Apellidos" formControlName="apellido" required />
    <input type="text" name="email" placeholder="E-mail" formControlName="email"/>
    <input type="number" id="edad" name="age" placeholder="Edad" min="0" formControlName ="edad" required>
    <label for="dateInput">Fecha de nacimiento:</label>
    <input type="date" id="fecha" name="birthdate" formControlName="fecha" required>

    <label for="sexo">Sexo:</label>
    <select id="sexo" name="sexo" formControlName="sexo" required>
      <option value="masculino">Masculino</option>
      <option value="femenino">Femenino</option>
      <option value="otro">39 tipos de geis</option>
    </select>

    <label for="Categoria">Categoria:</label>
    <select id="Categoria" name="Categoria" formControlName="categoria" required>
      <option value="Principiantes">Principiantes</option>
      <option value="Novatos">Novatos</option>
      <option value="Avanzados">Avanzados</option>
    </select>

<ngx-recaptcha2 #captchaElem
    [siteKey]="siteKey"
    formControlName="recaptcha">
  </ngx-recaptcha2>
    
    <input type="submit" name="signup_submit" value="Guardar" (click)="Guardar()" />
  </div>
  
  <div class="right">
    <span class="loginwith">Para Información Personal<br />Escribenos</span>
    
    <button class="social-signin facebook"><a href="https://www.facebook.com/profile.php?id=61554685563043">Facebook</a></button>
    <button class="social-signin twitter"><a href="https://www.instagram.com/bmxpoptun/">Twitter</a></button>
    <button class="social-signin google"><a href="https://www.instagram.com/bmxpoptun/">Instagram</a></button>
    <br>
    <br>
    <br>
    <input type="text" name="departamento" placeholder="Departamento" formControlName="departamento" required/>
    <input type="text" name="municipio" placeholder="Municipio" formControlName="municipio"required/>
  </div>
</div>




</form>
<br>
<br>
<br>
<br>
