

.content {
  flex: 1;
  padding: 25px;
  background-color: rgb(255, 255, 255);
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgb(0, 0, 0);
  padding: 30px;
}

.logo {
  font-size: 2.0rem;
  font-weight: bold;
  color: white;
}

.header-right {
  display: flex;
  justify-content: flex-end;
}

.header-right button {
  margin-left: 15px;
  color: white;
}
.header-image {
  width: 100%; /* Ajusta el ancho según tu diseño */
}



img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}





/* Estilos para la sección de información del evento */
.event-info {
  padding: 40px;
  background-color: #2b2626;
  border-radius: 10px;
  margin-top: 40px;
  text-align: center;
}

.event-info-content {
  max-width: 500px;
  margin: 0 auto;
}

.event-info h2 {
  margin-bottom: 20px;
  font-size: 36px;
  color: #fff0f0;
}

.event-info p {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.6;
  color: aliceblue;
}

.event-info p strong {
  font-weight: bold;
  color: #fff0f0;
}

/* .container2 {
  position: relative;
  height: 300px;
  width: 800px;
  top: 60px;
  left: calc(45% - 300px);
  display: flex;
  background-color: #333;
}

.card {
  display: flex;
  height: 400px;
  width: 900px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
   margin-left: -40px; 
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
  transition: 0.6s ease-out; 
  opacity: 1;
  transform: translateY(0); 
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar1 {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.filledbar2 {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}
.filledbar3 {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar1 {
  width: 120px;
  transition: 0.4s ease-out;
}
.card:hover .filledbar2 {
  width: 120px;
  transition: 0.4s ease-out;
}
.card:hover .filledbar3 {
  width: 120px;
  transition: 0.4s ease-out;
}

.hover-text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-out;
  pointer-events: none; /* Para que no interfiera con el hover de la tarjeta 
} 

.card:hover .hover-text {
  opacity: 1;
}
.hover-text p{
  color: #fff;
}



svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
} */




