<mat-toolbar color="primary" class="header">
    <span class="logo">Bmx Poptun</span>
    <div class="header-right">
        <button mat-button (click)="home()">Inicio</button>
        <button mat-button (click)="event()">Evento </button>
        <button mat-button (click)="Subs()">Inscribete</button>
        <button mat-button (click)="shop()">Shop</button>
        

    </div>
  </mat-toolbar>
  <img src="assets/fondo2.jpg" alt="" class="header-image">

  <section class="event-title-section">
    <div class="event-title-content">
      <h2>BMX EVENTO</h2>
      <p>¡Disfruta de la emoción y la destreza en BMX con los mejores riders de Guatemala!</p>
    </div>

  </section>

  <style>
    .event-title-section {
    text-align: center;
    padding: 50px 0;
    background-color: #f2f2f2;
  }

  .event-title-content {
    max-width: 800px;
    margin: 0 auto;
  }

  .event-title-content h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }

  .event-title-content p {
    font-size: 1.2em;
    color: #555;
  }
    
  </style>

- 
   

   
  