.blog-card {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 80%;
  margin-bottom: 20px; /* Espacio entre cada carta */
  margin-left: auto; /* Alineación del lado izquierdo */
  margin-right: auto;
}

.photo {
  flex: 0 0 40%;
  height: 300px; /* Ajusta la altura según tus necesidades */
  background-size: cover;
  background-position: center;
  background-image: url('cancha.jpg');
}
.photo2 {
  flex: 0 0 40%;
  height: 300px; /* Ajusta la altura según tus necesidades */
  background-size: cover;
  background-position: center;
  background-image: url('pantalla.jpg');
}

.photo3 {
  flex: 0 0 40%;
  height: 300px; /* Ajusta la altura según tus necesidades */
  background-size: cover;
  background-position: center;
  background-image: url('jurado.jpg');
}

.content {
  flex: 0 0 60%;
  padding: 20px;
  background-color: #fff; /* Color de fondo */
}

.details {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.details li {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: #888; /* Color del texto */
}

.description h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.description h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #555; /* Color del subtitulo */
}

.description p {
  font-size: 16px;
  line-height: 1.6;
  color: #333; /* Color del texto */
}

.read-more a {
  color: #007bff; /* Color del enlace */
  text-decoration: none;
  font-weight: bold;
}


