<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">
</head>
<div class="blog-card">
  <div class="photo" style="background-image: url('cancha.jpg')"></div>
  <div class="content">
    <ul class="details">
      <li class="author"><a href="#">Lugar</a></li>
      <li class="date">Fecha. 8/4/2024</li>
      <li class="tags">
        <ul>
          <li><a href="#">Categorias</a></li>
          <li>Principiantes</li>
          <li>Novatos</li>
          <li>Avanzados</li>
        </ul>
      </li>
    </ul>
    <div class="description">
      <h1>Cancha Municipal</h1>
      <h2>Poptun Peten</h2>
      <p>El evento se llevará a cabo en la cancha central munucipal barrio el centro </p>
      <p class="read-more"><a href="https://www.google.com/maps/place/16%C2%B019'38.7%22N+89%C2%B025'22.3%22W/@16.32742,-89.422857,19z/data=!4m4!3m3!8m2!3d16.3274198!4d-89.4228565?hl=es-419&entry=ttu">Ver</a></p>
    </div>
  </div>
  
</div>

<br>
<br>

<div class="blog-card">
 
  <div class="content">
    <ul class="details">
      <li class="author"><a href="#">John Doe</a></li>
      <li class="date">Aug. 24, 2015</li>
      <li class="tags">
        <ul>
          <li><a href="#">Learn</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
        </ul>
      </li>
    </ul>
    <div class="description">
      <h1>Calificación</h1>
      <h2>Opening a door to the future</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <p class="read-more"><a href="#">Read More</a></p>
    </div>
  </div> <div class="photo2" style="background-image: url('pantalla.jpg')"></div>
</div>

<br>
<br>
<div class="blog-card">
  <div class="photo3" style="background-image: url('jurado.jpg')"></div>
  <div class="content">
    <ul class="details">
      <li class="author"><a href="#">John Doe</a></li>
      <li class="date">Aug. 24, 2015</li>
      <li class="tags">
        <ul>
          <li><a href="#">Learn</a></li>
          <li><a href="#">Code</a></li>
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
        </ul>
      </li>
    </ul>
    <div class="description">
      <h1>Calificación</h1>
      <h2>Opening a door to the future</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
      <p class="read-more"><a href="#">Read More</a></p>
    </div>
  </div>
</div>
<br>

<br>
<br>


