<div class="event-container">
    <section class="event-info">
      <div class="event-info-content">
        <h2>Información del Evento</h2>
        <p>¡BMX POPTUN es un evento anual que reúne a los mejores riders de BMX del mundo! Celebrado en el Skatepark Central, este evento ofrece un día lleno de acrobacias, demostraciones y competiciones emocionantes.</p>
        <p>¡No te pierdas la oportunidad de presenciar a los profesionales del BMX en acción!</p>
        <p><strong>Fecha:</strong> 15 de diciembre, 2023</p>
        <p><strong>Lugar:</strong> Skatepark Central</p>
        <p><strong>Horario:</strong> 10:00 AM - 6:00 PM</p>
      </div>
    </section>
    
    <main class="content">
      <mat-card class="event-card">
        <mat-card-header>
          <div mat-card-avatar class="event-avatar"></div>
          <mat-card-title>BMX POPTUN Event</mat-card-title>
          <mat-card-subtitle>¡Únete al evento más emocionante!</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/fondo.jpg" alt="BMX Event">
        <mat-card-content>
          <p>¡Prepárate para una jornada llena de acrobacias, adrenalina y diversión! El evento de BMX más esperado está aquí.</p>
          <p>Fecha: 15 de diciembre, 2023</p>
          <p>Lugar: Skatepark Central</p>
          <p>Horario: 10:00 AM - 6:00 PM</p>
          <p>¡No te lo pierdas! Ven y disfruta de demostraciones de los mejores riders y participa en nuestras competiciones.</p>
        </mat-card-content>
      </mat-card>
    </main>
</div>