.event-container {
    display: flex;
    
  }
  
  .event-info {
    flex:0;
    padding: 50px;
  
  }
  /* Estilos para el contenido principal */
.content {
    padding-top: 100px; /* Ajusta según la altura del header */
    padding-bottom: 60px; /* Ajusta según la altura del footer */
    margin: 0 auto;
    max-width: 95%;
  }
  
  .event-card {
    margin-bottom: 20px;
  }
  
  /* .event-avatar {
    background-image: url('lg.png'); 
    background-size:contain;
    background-repeat: no-repeat;
  } */
  
  img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
  }

  /* Estilos para la sección de información del evento */
.event-info {
    padding: 40px;
    background-color: #2b2626;
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
  }
  
  .event-info-content {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .event-info h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #fff0f0;
  }
  
  .event-info p {
    margin-bottom: 12px;
    font-size: 18px;
    line-height: 1.6;
    color: aliceblue;
  }
  
  .event-info p strong {
    font-weight: bold;
    color: #fff0f0;
  }