<h2 mat-dialog-title>¡Guardado con éxito!</h2>
<div mat-dialog-content>
  <p>Tu información ha sido guardada con éxito.</p>
  <p>¡Gracias por tu registro!</p>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>
