/* Estilos para el modal de éxito */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 15px;
  }
  /* Estilos personalizados para el modal de éxito */
.modal-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .modal-content {
    color: #666;
    text-align: center;
    line-height: 1.4;
  }
  
  .modal-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .modal-button {
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .modal-button:hover {
    background-color: #0056b3;
  }
  