
  <div class="mission-vision-container">
    <div class="mission" [class.visible]="missionVisible">
      <h2>¿QUÉ ES BMX POPTÚN EVENT? </h2>
      <br>
      <p>BMX POPTÚN EVENT es un evento donde riders de toda Guatemala y otras partes del mundo del BMX muestran su talento sobre ruedas. Somos una comunidad de riders apasionados por el deporte extremo.</p>
      <p>Esta comunidad, con sede en Poptun, ha florecido como un punto de encuentro para aquellos que buscan compartir experiencias, conocimientos y, sobre todo, la emoción de montar en bicicleta BMX.</p>
      <p>Los miembros de BMX Poptun Event provienen de diversos niveles de habilidad, desde novatos que están explorando las primeras emociones de este deporte hasta experimentados riders que dominan las pistas con gracia y destreza.</p>
    </div>
    <br>
    <br>
    <hr>
    <br>
    <div class="vision" [class.visible]="visionVisible">
      <h2>¿QUIÉNES PUEDEN PARTICIPAR?</h2>
      <p>Todos aquellos que tengan la pasión por el BMX son bienvenidos. La comunidad de BMX Poptun Event celebra la diversidad de riders, independientemente de su nivel de habilidad, edad o experiencia.</p>
      <p>Desde los novatos que están dando sus primeros giros en la bicicleta hasta los riders experimentados que dominan las pistas con gracia, todos encuentran un espacio acogedor y estimulante en esta comunidad.</p>
      <p>La pasión por el BMX es el único requisito para unirse a BMX Poptun Event. No importa si eres un principiante entusiasmado por aprender o un experto buscando compartir tus habilidades, todos son bienvenidos a formar parte de esta emocionante comunidad.</p>
      <p>La diversidad de estilos y perspectivas enriquece la experiencia colectiva, haciendo que cada encuentro y evento sea único y emocionante.</p>
    </div>
  </div>
  
  
  <div class="container2">
    <div class="card">
      <h3 class="title">Principiantes</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar1"></div>
      </div>
      <div class="icon">
      </div>
      
      <div class="hover-text">

      </div>
    </div>
  
    <div class="card">
      <div class="icon"></div>
      <h3 class="title">Novatos</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar2"></div>
      </div>
      <div class="hover-text">
        <p>Texto al pasar el cursor</p>
      </div>
    </div>
  
    <div class="card">
      <h3 class="title">Avanzados</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar3"></div>
      </div>
       <div class="hover-text">
        <p>Texto al pasar el cursor</p>
      </div>
    </div>
  
    <div class="card">
      <h3 class="title">Jurado</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
     <div class="hover-text">
        <p>Texto al pasar el cursor</p>
      </div>
    </div>
  </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>



  