

body {
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f8fa; /* Color de fondo similar al de Angular Material */
}

.mission-vision-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1500px;
  margin: -20px auto;
  background-color: #ffffff; /* Fondo blanco similar al de Angular Material */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 200px;
}

.mission,
.vision {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.mission.visible,
.vision.visible {
  opacity: 1;
  transform: translateY(0);
}
.mission, .vision {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.mission {
  background-color: #fa9269; /* Color de fondo del área de misión */
  color: #fff; /* Color del texto en el área de misión */
}

.vision {
  background-color: #fff; /* Color de fondo del área de visión */
  color: #333; /* Color del texto en el área de visión */
}

h2 {
  color: #000000; /* Color de los títulos */
}

p {
  margin-bottom: 17px;
  color: #000000; /* Color del texto principal */
}

hr {
  border: none;
  border-top: 1px solid #e0e0e0; /* Color de la línea divisoria similar al de Angular Material */
  margin: 20px 0;
}

@media (max-width: 600px) {
  .mission, .vision {
    width: 100%;
  }
}




.participants-section {
  margin: 80px auto;
  max-width: 100%;
  text-align: center;
  background-color: #333;
}

.participants-section h2 {
  margin-bottom: 50px;
}

.participant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 200px;

}

.participant-card {
  text-align: center;
  margin-left: 0px;
  margin-right: 80px ;

}

.participant-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  border: solid;

}
.participant-card1 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.participant-card2 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.participant-card4 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.participant-card6 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.participant-card3 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.participant-card5 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}



.container2 {
  position: relative;
  height: 300px;
  width: 800px;
  top: 60px;
  left: calc(45% - 300px);
  display: flex;
  background-color: #333;
}

.card {
  display: flex;
  height: 400px;
  width: 900px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
   margin-left: -40px; 
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
  transition: 0.6s ease-out; 
  opacity: 1;
  transform: translateY(0); 
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar1 {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.filledbar2 {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}
.filledbar3 {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar1 {
  width: 120px;
  transition: 0.4s ease-out;
}
.card:hover .filledbar2 {
  width: 120px;
  transition: 0.4s ease-out;
}
.card:hover .filledbar3 {
  width: 120px;
  transition: 0.4s ease-out;
}

.hover-text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-out;
  pointer-events: none; 
} 

.card:hover .hover-text {
  opacity: 1;
}
.hover-text p{
  color: #fff;
}




