/* Estilos para pantallas grandes (PC) */
@media only screen and (min-width: 1024px) {
  /* Estilos específicos para pantallas grandes */
}

/* Estilos para pantallas medianas (Tabletas) */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  /* Estilos específicos para tabletas */
}

/* Estilos para pantallas pequeñas (Teléfonos) */
@media only screen and (max-width: 767px) {
  /* Estilos específicos para teléfonos */
}



*{
    margin: 0;
    padding: 0;
}
  body{
    background-color: rgb(255, 255, 255);
    /* background-image: url('deportista-haciendo-saltos-extremos-vista-angulo-skatepark.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}  